<div>
    <label for="countupName">Enter Countup Name:</label>
    <input type="text" id="countupName" />
    <button onclick="startCountup()">Start Countup</button>
</div>

<h3>All Countups:</h3>
<ul id="countupList"></ul>
