
@model IEnumerable<CountDown.Entities.Countdown>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<main>
    <div class="container">
        <div class="create-countdown">
            <div class="input-group d-flex">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <h5>Countdown Date</h5>
                        <input type="datetime-local" id="countdownDate" name="Enddate" />
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Date and time</div>
                    <div class="dx-field-value">
                        <div id="date-time"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <h5>Countdown Title</h5>
                        <input type="text" id="countdownTitle" name="Title" value="" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success btn-sm" onclick="AddCountdown()" id="save">Save</button>
                </div>
            </div>
        </div>





        <div class="row mt-3" id="countdowns">
            <h4>Countdowns</h4>
        </div>

    </div>

    @if (Request.IsAuthenticated)

    {
        <div class="container mt-5">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="btn btn-danger btn-sm" href="@Url.Action("Logout", "Account")"> Logout</a></li>
            </ul>
        </div>

    }
</main>






