@model IEnumerable<CountDown.Entities.Countdown>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container">
        <div class="create-countdown card p-4">
            <h3 class="mb-4">Create Countdown</h3>
            <div class="input-group d-flex">
                <!-- Countdown Date Input -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="countdownDate" class="form-label">Countdown Date</label>
                        <input type="datetime-local" id="countdownDate" name="Enddate" class="form-control" />
                    </div>
                </div>

                <!-- Countdown Title Input -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="countdownTitle" class="form-label">Countdown Title</label>
                        <input type="text" id="countdownTitle" name="Title" class="form-control" value="" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success btn-lg" onclick="AddCountdown()" id="save">Save</button>
                </div>
            </div>
        </div>

        <div class="row mt-5" id="countdowns">
            <h4>Countdowns</h4>
            <!-- Countdown items will be listed here -->
        </div>

        @if (Request.IsAuthenticated)
        {
        <div class="container mt-5">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="btn btn-danger btn-sm" href="@Url.Action("Logout", "Account")"> Logout</a></li>
            </ul>
        </div>
        }
    </div>
</main>

